[user]
        name = Nabil Kashyap
        username = bulbil
        email = n@nabilk.com
[merge]
        tool = vscode
[diff] 
        tool = vscode
[difftool "vscode"]
        cmd = code --wait --diff $LOCAL $REMOTE
[alias]
    ci = commit
    co = checkout
    rv = remote -v
    st = status -sb
    ready = rebase -i @{u}
    tree = log --oneline --graph --decorate --all --color
[push]
    default = current
